<div class="main">
    <div class="home-side">
        <!-- <h1>Choose your pseudo</h1>
        <form [formGroup]="pseudoForm" id="pseudo" (ngSubmit)="setPseudo(pseudoForm.value.pseudo)">
            <input autocomplete="off" type="text" formControlName="pseudo"/>
            <button type="submit">OK</button>  
        </form> -->
        <h2>Server Logs</h2>
        <div *ngFor="let item of messageArray">
            <p style="color:white;">{{item.user}} : {{item.message}}</p>
        </div>
    </div>
    <div class="messages-window">
        <ul id="chatWindow">
            <span style="color:white;" *ngIf="isTyping"> Is typing...</span>
            <div *ngFor= "let message of messages">
                <p *ngIf= "!isSameEmitter" [ngClass]="{'received': message.isReceived == true}" class="pseudo">{{message.pseudo}}</p>
                <li [ngClass]="{'received': message.isReceived == true}">{{message.message}}</li>
            </div>
        </ul>
        <form [formGroup]="messageForm" id="send" (ngSubmit)="onSubmit(messageForm.value.message)">
            <input autocomplete="off" id="m" type="text" formControlName="message" (change)="isTyping=false" (input)="onType($event.target.value)"/>
            <button type="submit" [disabled]="messageForm.value == null">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="paper-plane" class="svg-inline--fa fa-paper-plane fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z"></path>
                </svg>
            </button>  
        </form>
    </div>
</div>
<div class="sidebar">
    <div class="tab">
        <h3>{{room}}</h3>
    </div>
    <div class="tab users" (click)= "toggleUsers()">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg>
        <span *ngIf="users[0] != undefined">{{users[0].length}}</span>
        <div *ngIf="showUsers" class="showusers">
            <p *ngFor="let user of users[0]; let i = index">{{user}}</p>
        </div>
    </div>
   
   <div class="tab leaveRoom">
        <a class="leave" routerLink="/home" routerLinkActive="active" (click)="leaveRoom()"> 
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-out-alt" class="svg-inline--fa fa-sign-out-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"></path></svg>Leave room</a>  
   </div>
</div>



