*:focus{
    outline:none;
}

html, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: 1;
    border:0;
    font-family: 'Work Sans', sans-serif;
    background-color: #11171b;
}
